<div class="container mt-3">
  <!--Section: Contact v.2-->
  <section class="section">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Cadastro</h2>
    <div class="alert alert-info" role="alert" *ngIf="sucesso">Cadastro realizado com sucesso!</div>
    <div class="row">

      <!--Grid column-->
      <div class="col-md-12 mb-md-0 mb-5">
        <form id="contact-form" name="contact-form" (ngSubmit)="cadastrarCliente()">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" [(ngModel)]="cliente.nome" id="name" name="name" class="form-control">
                <label for="name" class="">Nome Completo</label>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" [(ngModel)]="cliente.email" id="email" name="email" class="form-control">
                <label for="email" class="">E-mail</label>
              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="subject" [(ngModel)]="cliente.cpf" name="subject" class="form-control">
                <label for="subject" class="">CPF</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="subject" [(ngModel)]="cliente.telefone" name="subject" class="form-control">
                <label for="subject" class="">Telefone</label>
              </div>
            </div>
          </div>
          <!--Grid row-->


          <div class="row text-light">
            <div class="col-lg-9"></div>
            <a class="btn btn-danger" *ngIf="!sucesso" routerLink="/clientes">Cancelar</a>
            <a class="btn btn-default" *ngIf="sucesso" routerLink="/clientes">Voltar</a>
            <button type="submit" *ngIf="!sucesso" class="btn rgba-indigo-strong">Salvar</button>
            <button type="button" *ngIf="sucesso" (click)="limpar()" class="btn rgba-indigo-strong">Novo <i class="fa fa-plus"></i>
            </button>
          </div>
        </form>
      </div>
      <!--Grid column-->
    </div>

  </section>
  <!--Section: Contact v.2-->
</div>
