<div class="col-md-4 mx-auto mt-5 card card-body">
  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input type="email" id="inputValidationEx" class="form-control validate">
    <label for="inputValidationEx" data-error="wrong" data-success="right">Email</label>
  </div>
  <div class="md-form">
    <i class="fa fa-lock prefix"></i>
    <input type="password" id="inputValidationEx2" class="form-control validate">
    <label for="inputValidationEx2" data-error="wrong" data-success="right">Password</label>
  </div>
  
  <button type="button" class="btn btn-default">Login</button>
  
</div>