 <!--Navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark rgba-indigo-strong">
  
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">FOOD ADMIN</a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="basicExampleNav">
  
  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
      <a routerLink="" class="nav-link" >Home
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="produtos" class="nav-link">Produtos</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="clientes/23" class="nav-link">Clientes</a>
    </li>
    
    
    
  </ul>
  <!-- Links -->
  
  <form class="form-inline">
    <div class="md-form my-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </div>
  </form>
</div>
<!-- Collapsible content -->

</nav>
<!--/.Navbar-->
<router-outlet></router-outlet>
