<div class="container mt-3">
  <table class="table table-bordered table-striped">
    <thead class="rgba-indigo-strong white-text">
      <tr>
        <th scope="col">NOME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">TELEFONE</th>
        <th scope="col">CPF</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.nome}}</th>
        <td>{{cliente.email}}</td>
        <td>{{cliente.telefone}}</td>
        <td>{{cliente.cpf}}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <button type="button" routerLink="/cliente/cadastro" class="btn rgba-indigo-strong">Adicionar
      <i class="fa fa-plus ml-2"></i></button>
  </div>
</div>